
<%= simple_form_for(@call) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :titulo %>
    <%= f.input :pergunta %>
    <%= f.input :versao %>
    <%= f.input :perfil_acesso %>
    <%= f.input :detalhe_funcionalidade %>
    <%= f.input :severidade %>
    <%= f.input :municipio %>
    <%= f.input :uf %>
    <%= f.input :categoria_id %>
    <%= f.input :sei %>

<!--<%= f.collection_select(:answer_id, @answers, :id, :resposta, {include_blank: "Selecione uma resposta: "}) %> -->
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: 'Cadastrar' ,class: 'btn btn-success btn-sm', style: 'color: white'  %>
    <%= link_to 'Voltar', calls_path, class: 'btn btn-success btn-sm', style: 'color: white'  %>
  </div>
<% end %>
