<h2>Atendimentos solicitados</h2>

<table class="table table-hover .table-striped">
  <thead>
    <tr>
      <th>Data criacao</th>
      <th>Titulo</th>
      <th>Status</th>
      <th>Severidade</th>
      <th>Municipio</th>
      <th>Uf</th>
      <th>Categoria</th>
      <th>SEI</th>
      <th>Resposta</th>
      <th colspan="3"> Opções</th>
    </tr>
  </thead>

  <tbody>
    <% @calls.each do |call| %>
      <tr>
        <td><%= call.data_criacao %></td>
        <td><%= call.titulo %></td>
        <td><%= call.status %></td>
        <td><%= call.severidade %></td>
        <td><%= call.municipio %></td>
        <td><%= call.uf %></td>
        <td><%= call.categoria_id %></td>
        <td><%= call.sei %></td>
        <td><%= call.answer.resposta %></td>
        <td><%= link_to 'Visualizar', call_show_atendimento_path(call.id), class: 'btn btn-success btn-sm', style: 'color: white' %></td>
        <% if current_user.try(:user?) %>
          <td><%= link_to 'Editar', edit_call_path(call), class: 'btn btn-success btn-sm', style: 'color: white' %></td>
          <td><%= link_to 'Remover', call, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-sm', style: 'color: white' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.try(:user?) %>
  <%= link_to 'Nova Solicitação', new_call_path, class: 'btn btn-primary',style: 'color: white' %>
<% end %>
