
<%= simple_form_for(@answer) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs" style="width: 45%">
    <%= f.input :categoria %>
    <%= f.input :pergunta %>
    <%= f.input :resposta %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: 'Cadastrar Resposta' %>
    <%= link_to 'Voltar', answers_path, class: 'btn ' %>
  </div>
<% end %>
