<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @answer.data %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @answer.categoria %>
</p>

<p>
  <strong>Colaborador:</strong>
  <%= @answer.colaborador %>
</p>

<p>
  <strong>Pergunta:</strong>
  <%= @answer.pergunta %>
</p>

<p>
  <strong>Resposta:</strong>
  <%= @answer.resposta %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
