<br/>
<div class="panel panel-primary">
  <div class="panel-heading"> | Categoria : <span class="badge"> <%= @answer.categoria %> </span> | Data da criação : <span class="badge"> <%= @answer.data %>  </span></div>
  <div class="panel-body">
    <p>
      <strong>Pergunta:</strong>
      <%= @answer.pergunta %>
    </p>
    <p>
      <strong>Resposta:</strong>
      <%= @answer.resposta %>
    </p>
    <p>
      <strong>Atendente:</strong>
      <%= User.find(@answer.colaborador).email %>
    </p>
  </div>
</div>
</div>
