<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Lista de Atendimentos', calls_path %></li>
    <li><%= link_to 'FAQ', answers_path %></li>
  <% end %>
  <% if current_user.try(:user?) %>
    <li><%= link_to 'Solicitar Atendimento', calls_path %></li>
  <% end %>

  <li><%= link_to 'Logoff', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>

<% end %>
